.forget-password {
    padding: 4rem 0;
}

.forget-password h4 {
    text-align: center;
}

.forget-password h5 {
    text-align: center;
}

.forget-password h6 {
    color: black;
}

.forget-password .ifrc-logo {
    width: 4rem;
}